<app-navbar class="fixed-top"></app-navbar>
<!-- background image -->
<div
  class="bg-image"
  style="background-image: url(../../assets/image/about-us.jpg)"
></div>
<!-- section1 -->
<section style="background-color: #f4f5f7">
  <!-- <section style="background-color:;"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex">
        <a routerLink="/home"><h5>Home:</h5></a>
        <a><h5>Contact</h5></a>
      </div>
    </div>
  </div>
</section>

<!-- section2 -->

<section style="background-color: #f4f5f7;">
    <div class="container">
        <div class="row p-5">
            <div class="col-md-6 justify-content-between">
                <h2 class="fw-bold" style="margin-left: 7rem;font-size: 35px;font-weight: 700;color: #314259; line-height: 52px;margin-bottom: 22px;margin-top: -8px;  ">Preparing for your success, we provide truly prominent IT services.</h2>
                <div style="margin-left: 7rem; font-size:18px; line-height: 28px; color: #9092a3; font-weight: 500;">
                    <p>
                        Eminence Innovations is total IT solution Company catering to the business and development demands of global as well as the domestic clients. Eminence Innovations thrives to achieve total customer satisfaction by following the footstep with the dynamics of fast changing IT world. Eminence Innovations ensures the international quality standard through the process of continuous evolutions, feedback, suggestions from its client, where work ethics, commitment and integrity of our key personnel are the prime key element for success of the organization.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="part_img">
                <img class="img1" src="../../assets/image/about-5.jpg">
                <img class="img2" src="../../assets/image/about-6.jpg">
                <img class="img3" src="../../assets/image/about-7.jpg">
                <img class="img4" src="../../assets/image/about-8.jpg">
            </div>
            </div>
        </div>
    </div>
</section>

<!-- section2 -->

<section class="p-5" style="background-color: #f4f5f7;">
    <div class="container">
      <div class="row ">
        <div class="col-xl-5 mt-5">
          <div>
            <img style="border-top-left-radius: 10rem;" src="../../assets/image/support.jpg" alt="">
          </div>
        </div>
        <div class="col-xl-7 mt-5">
          <!-- <div class="col-xl-4 "> -->
            <h1 style="font-size: 2.7rem; margin-left: 100px; line-height: 2.5rem;">Your Trusted Partner in IT Solutions!</h1>
            <div style="font-size: 1.5rem; margin-left: 100px; line-height: 2.5rem;">
              <p class="fw-bold" style="color: #314259;">Without the hassles of hiring, our expert team delivers dream-team results.</p>
            </div>
            <p class="fw-bold mt-5" style=" margin-left: 100px; font-size: 2.3rem;">+91-7982-611-413</p>
              <div class="mt-5">
              <button class="main-btn  p-3 shadow rounded " style="margin-left: 100px" (click)="redirect()">
                Contact Now <i class="far fa-arrow-alt-circle-right"></i>
              </button>
              </div>  
            <p style="color: #314259; margin-top: 6rem ; margin-left: 250px ;font-size: 25px; line-height: 1.7rem;">UI/UX Design is at the core of all solutions developed by Innovation. Our design is more than just a collection of words and images. We focus on delighting the user.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- footter -->
<app-footer></app-footer>