<app-navbar></app-navbar>
<div class="service-page" style="background-color: #f4f5f7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div
          class="sidebar collapse1 sidebar-collapse"
          id="sidebar-widgetContent"
        >
          <div class="sidebar-widget" style="margin-bottom: 40px">
            <div class="all-solution">
              <h4 class="headers">Services</h4>
              <ul class="lists" style="cursor: pointer">
                <li class="all-list">
                    <a (click)="mobileDev()">Mobile App Development</a>
                  </li>
                  <li class="all-list">
                    <a (click)="iosDev()">iOS App Development</a>
                  </li>
                  <li class="all-list">
                    <a (click)="androidDev()">Android App Development</a>
                  </li>
                  <li class="all-list">
                    <a (click)="webdesigen()">Web Design</a>
                  </li>
                  <li class="all-list">
                    <a (click)="contentwriting()">Content Writing</a>
                  </li>
                  <li class="all-list">
                    <a (click)="phpwebdev()">PHP Web Development </a>
                  </li>
                  <li class="all-list">
                    <a (click)="devopsservice()">DevOps Services</a>
                  </li>
                  <li class="all-list">
                    <a (click)="sasdev()">SaaS Development</a>
                  </li>
                  <li class="all-list">
                    <a (click)="uiuxdesigen()">UI/UX Design</a>
                  </li>
                  <li class="all-list">
                    <a (click)="cloudsolutions()">Cloud Solutions</a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="service-details-area">
          <h1 style="text-align: center; font-size: 2.5rem">Web Design</h1>
          <div class="detail-image">
            <div class="part-img">
              <img
                style="width: 857px; height: 450px !important"
                src="../../assets/image/webdesigen.jpeg"
              />
              <a
                class="support"
                style="background: #0064eb; color: #fff; padding-top: 10px"
                >Learn More</a
              >
            </div>
          </div>
          <div class="service-detail" style="box-sizing: border-box">
            <div class="part-text" style="box-sizing: border-box">
              <p
                style="
                  font-size: 13pt;
                  font-family: Calibri, sans-serif;
                  background-color: transparent;
                  font-variant-numeric: normal;
                  font-variant-east-asian: normal;
                  vertical-align: baseline;
                  white-space: pre-wrap;
                "
              >
                Eminence Innovation is a leading IT service provider in
                Delhi-NCR with more than five years of experience in delivering
                web designing services to businesses across the globe. We are
                one of the top-tier and most trusted companies that operate to
                build visually stunning websites that elevate your brand, engage
                visitors, and create conversions. Our ultimate aim is to create
                a website for our clients that is extremely handy, packed with
                incredible features, and has a clear-cut visual layout.Our
                website design execution emphasizes an appealing and steady
                appearance, insightful structure and navigation, adequate and
                precise communication, and an affordable, responsive
                environment. The basic essence of your brand should be displayed
                on your website, which should also represent your business
                online. To ensure that your website provides the best experience
                for your potential customers, our highly skilled web design and
                development team take the time to understand one‘s needs and
                goals.
              </p>

              <h2
                style="
                  text-align: left;
                  line-height: 1.295;
                  margin-top: 0pt;
                  margin-bottom: 8pt;
                "
              >
                <span
                  style="
                    background-color: transparent;

                    font-family: Calibri, sans-serif;
                    font-size: 16pt;
                    font-weight: 700;
                    white-space: pre-wrap;
                  "
                >
                  Curating The Best Web Design & Experience For YOU!
                </span>
              </h2>

              <p
                style="
                  font-size: 14pt;
                  font-family: Calibri, sans-serif;
                  background-color: transparent;
                  font-variant-numeric: normal;
                  font-variant-east-asian: normal;
                  vertical-align: baseline;
                  white-space: pre-wrap;
                "
              >
                Eminence Innovation is a leading IT service provider in
                Delhi-NCR with more than five years of experience in delivering
                web designing services to businesses across the globe. We are
                one of the top-tier and most trusted companies that operate to
                build visually stunning websites that elevate your brand, engage
                visitors, and create conversions. Our ultimate aim is to create
                a website for our clients that is extremely handy, packed with
                incredible features, and has a clear-cut visual layout.Our
                website design execution emphasizes an appealing and steady
                appearance, insightful structure and navigation, adequate and
                precise communication, and an affordable, responsive
                environment. The basic essence of your brand should be displayed
                on your website, which should also represent your business
                online. To ensure that your website provides the best experience
                for your potential customers, our highly skilled web design and
                development team take the time to understand one‘s needs and
                goals.
                <br /><br />
                We can ensure that your website will look fantastic and function
                flawlessly across all platforms and devices with the help of our
                responsive web designing process. Our skilled team of experts
                perceives every challenge as a chance to deliver highly
                efficient and customized websites with a 99 percent delivery
                rate. We are not just another website design company in India;
                we are a brand in the industry, and our mission is to build that
                name resound on a global level.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section style="background-color: #004586">
  <div class="container">
    <div class="row" style="padding: 10rem">
      <div class="col-md-6 mt-5">
        <h1 class="phone_num">+91-7982-611-413</h1>
        <p class="description" style="color: white">
          Without the hassles of hiring, our expert team delivers dream-team
          results.
        </p>
        <div class="mt-5">
          <button class="main-btn p-3 shadow rounded" routerLink="/help">
            Contact Now <i class="far fa-arrow-alt-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="">
          <button
            class="main-button p-3 shadow rounded"
            style="margin-bottom: 2rem"
            routerLink="/help"
          >
            Call For Advice Now
          </button>
          <h2
            style="
              font-size: 45px;
              line-height: 55px;
              font-weight: 800;
              color: #fff;
              margin: 0;
            "
          >
            To make requests for further information, contact us via our social
            channels.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
