<app-navbar></app-navbar>
<div class="service-page" style="background-color: #f4f5f7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div
          class="sidebar collapse1 sidebar-collapse"
          id="sidebar-widgetContent"
        >
          <div class="sidebar-widget" style="margin-bottom: 40px">
            <div class="all-solution">
              <h4 class="headers">Services</h4>
              <ul class="lists" style="cursor: pointer">
                <li class="all-list">
                    <a (click)="mobileDev()">Mobile App Development</a>
                  </li>
                  <li class="all-list">
                    <a (click)="iosDev()">iOS App Development</a>
                  </li>
                  <li class="all-list">
                    <a (click)="androidDev()">Android App Development</a>
                  </li>
                  <li class="all-list">
                    <a (click)="webdesigen()">Web Design</a>
                  </li>
                  <li class="all-list">
                    <a (click)="contentwriting()">Content Writing</a>
                  </li>
                  <li class="all-list">
                    <a (click)="phpwebdev()">PHP Web Development </a>
                  </li>
                  <li class="all-list">
                    <a (click)="devopsservice()">DevOps Services</a>
                  </li>
                  <li class="all-list">
                    <a (click)="sasdev()">SaaS Development</a>
                  </li>
                  <li class="all-list">
                    <a (click)="uiuxdesigen()">UI/UX Design</a>
                  </li>
                  <li class="all-list">
                    <a (click)="cloudsolutions()">Cloud Solutions</a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="service-details-area">
          <h1 style="text-align: center; font-size: 2.5rem">
            Mobile App Development
          </h1>
          <div class="detail-image">
            <div class="part-img">
              <img
                style="width: 857px; height: 450px !important"
                src="../../assets/image/service6.jpeg"
              />
              <a
                class="support"
                style="background: #0064eb; color: #fff; padding-top: 10px"
                >Learn More</a
              >
            </div>
          </div>
          <div class="service-detail" style="box-sizing: border-box">
            <div class="part-text" style="box-sizing: border-box">
              <p
                style="
                  font-size: 14pt;
                  font-family: Calibri, sans-serif;
                  background-color: transparent;
                  font-variant-numeric: normal;
                  font-variant-east-asian: normal;
                  vertical-align: baseline;
                  white-space: pre-wrap;
                "
              >
                We create custom mobile apps for the iOS and Android platforms.
                Our mobile app developers can create mobile apps that use AI and
                ML technologies.
              </p>
              <p
                style="
                  font-size: 14pt;
                  font-family: Calibri, sans-serif;
                  background-color: transparent;
                  font-variant-numeric: normal;
                  font-variant-east-asian: normal;
                  vertical-align: baseline;
                  white-space: pre-wrap;
                "
              >
              Do you want to create your mobile application?.
              </p>
              <p
                style="
                  font-size: 14pt;
                  font-family: Calibri, sans-serif;
                  background-color: transparent;
                  font-variant-numeric: normal;
                  font-variant-east-asian: normal;
                  vertical-align: baseline;
                  white-space: pre-wrap;
                "
              >
              Our team of experts, who have extensive experience working with international application framework administrations and product designing businesses, is what enables us to solve your problems.
<br> <br>
              To increase a business venture's efficiency, we try to streamline the work process and combine resources into a single, consistent example.
              </p>

              <p
                style="
                  font-size: 14pt;
                  font-family: Calibri, sans-serif;
                  background-color: transparent;
                  font-variant-numeric: normal;
                  font-variant-east-asian: normal;
                  vertical-align: baseline;
                  white-space: pre-wrap;
                "
              >
              To help you grow your company, we have a chain of partners who can deliver thoroughly considered and creatively designed versatile application advancement administrations. Eminence Innovation is open to the possibilities of providing full mobile app development and assistance throughout distinctive development stages.
<br><br>
              We are always eager to discuss your specific requirements, so please let us know if you are looking for a full mobile application development package or specific service. We provide excellent mobile application development services to both corporate businesses and startups. 
              <br><br>
              We stand out as the ideal option for companies eager to elucidate the unsurpassed potential of smart apps, thanks to our highly skilled team that work across all mobile development platforms and cutting-edge technologies. 
              </p>
              <div>
                <img src="../../assets/image/pasted image 0.png">
              </div>
              <h2 style="text-align: left;
              line-height: 1.295;
              margin-top: 0pt;
              margin-bottom: 8pt">
              <span style="background-color: transparent;
              color: rgb(255, 0, 0);
              font-family: Calibri, sans-serif;
              font-size: 16pt;
              font-weight: 700;white-space: pre-wrap">
                 How Can We Assist You?
              </span>

              </h2>
              <p
                style="
                  font-size: 14pt;
                  font-family: Calibri, sans-serif;
                  background-color: transparent;
                  font-variant-numeric: normal;
                  font-variant-east-asian: normal;
                  vertical-align: baseline;
                  white-space: pre-wrap;
                "
              >
              Eminence Innovation is a leading IT service provider in Delhi-NCR with more than five years of experience delivering mobile app development services to businesses across the globe. We provide a bundle of services that include:
              
              </p>
              <ul>
                <li>
                    Mobile consulting
                    <p>Our consultants offer platform/device compatibility advice, support with the execution of app concepts, plan activities, and reduce costs.</p>
                </li>
              </ul>

              <ul>
                <li>
                    Mobile UI and UX design
                    <p>The designers at Eminence Innovation, create slick, user-friendly interfaces that ensure conversion, engagement, and easy adoption.</p>
                </li>
              </ul>

              <ul>
                <li>
                    Mobile app development
                    <p>Our developers produce and deploy quick, dependable, and high-performing mobile apps, having finished over 100 projects.</p>
                </li>
              </ul>
              <ul>
                <li>
                    Back-end development
                    <p>For streamlined and quick data sync and transfer, our back-end developers create a vitally secure mobile back-end.</p>
                </li>
              </ul>
              <ul>
                <li>
                    Web development
                    <p>We are prepped to add a web app, web portal, online store, or SaaS to your mobile app. </p>
                </li>
              </ul>
              <ul>
                <li>
                    Mobile App Integration 
                    <p>We promise seamless integration with back ends and any third-party software as we have experience in a broad range of APIs.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section style="background-color: #004586">
  <div class="container">
    <div class="row" style="padding: 10rem">
      <div class="col-md-6 mt-5">
        <h1 class="phone_num">+91-7982-611-413</h1>
        <p class="description" style="color: white">
          Without the hassles of hiring, our expert team delivers dream-team
          results.
        </p>
        <div class="mt-5">
          <button class="main-btn p-3 shadow rounded" routerLink="/help">
            Contact Now <i class="far fa-arrow-alt-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="">
          <button
            class="main-button p-3 shadow rounded"
            style="margin-bottom: 2rem"
            routerLink="/help"
          >
            Call For Advice Now
          </button>
          <h2
            style="
              font-size: 45px;
              line-height: 55px;
              font-weight: 800;
              color: #fff;
              margin: 0;
            "
          >
            To make requests for further information, contact us via our social
            channels.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
