<app-navbar></app-navbar>
<section style="background-color: white " >
    <div class="subnav p-3" style="text-align: center;">
            <div class="sb">
          <a routerLink="/home" style="text-decoration: none; color: black;"><h5>Home:</h5></a>
          <a routerLink="/cognizance" style="text-decoration: none; color: black;"><h5>cognizence:</h5></a>
          <a><h5>Cyberspace Safety: Initiatives By India</h5></a>
          </div>
    </div>
  </section>
<section>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-9" style="overflow: scroll;
            height: 1000px">
                <div class="part_image" >
                    <img src="../../assets/image/safecyber.jpg" alt="" srcset=""  >
                </div>
                <div class="blog-detail">
                    <div class="body">
                        <div class="head">
                            <h2 style="font-size: 28px;font-weight: 700; line-height: 52px;color: #314259;margin-bottom: 20px;">Cyberspace Safety: Initiatives By India</h2>
                            <div class="user">
                                <a href="#" style="text-decoration: none;outline: none;">pavan kalyan</a> 
                                |
                                <span style="display: inline-block;color: #babcc3;font-size: 16px;font-weight: 500;">9 Feb 2023</span>
                            </div>
                        </div>
                        <p class="paragraph">
                            <cite>
                                <em>
                                    “Data is the pollution problem of the information age, and protecting privacy is the environmental challenge.”
                                </em>
                                <em>~Bruce Schneier</em>
                            </cite>
                        </p>
                        <p class="paragraph">
                            Data is the incognito diamond for every business or corporation these days. Every company is looking for valuable user data on which they can base their marketing efforts, develop new products, and target the appropriate audiences. In light of this, it has become more crucial than ever to 
                            <strong>protect and prevent the misuse of confidential data</strong> in the digital era of innovation.
                        </p>
                        <p class="paragraph">
                            The year may be coming to an end, but cyber-attacks are not. Recently in November 2022, cryptocurrency exchanges got attacked, high-profile data breaches occurred, and government agencies' data got leaked. The cyber crisis serves as a reminder of how necessary it is for companies and organizations to strengthen their security measures.
                        </p>
                        <p class="paragraph">
                            According to a report, India ranks third around the globe in terms of cyber-attacks, with 86.63 million data breaches in 2021. A recent major incident was recorded in December 2022, when 5 servers of the All India Insitute of Medical Sciences (AIIMS) got hacked and a total of 1.3 terabytes of personal data were encrypted.
                        </p>
                        <p class="paragraph">
                            <strong>
                                <img src="../../assets/image/Safe Cyber blog image 2.jpg" style="height: 277px;width: 624px;">
                            </strong>
                        </p>
                        <h2 style="color: #314259;">
                            <strong>
                                What is Confidential Data?
                            </strong>
                        </h2>
                        <p style="color: #72839a;font-weight: 500;width: auto!important;line-height:28px;">
                            Confidential data serves as your identifier. That data is unique and can be used to locate an individual directly or indirectly. The fact that sensitive information can be used by criminals online still doesn't bother tons of people. Although, identity theft is risky and can compromise one’s 
                            <strong>confidential information. </strong>
                        </p>
                        <p class="paragraph">There has been a widespread leak of citizen information in some countries due to inadequate data protection. Cybercrime cases are increasing, including hacking and cracking (piracy) social media, resulting in extortion, illegal access to restricted information, and online fraud.</p>
                        <h3 style="color: #314259;">
                            <strong>Why is Cybersecurity Important?</strong>
                        </h3>
                        <p class="paragraph">
                            Cybersecurity and data protection are extremely relevant today, as they protect your personal and business data. 
                        </p>
                        <p class="paragraph">
                            Data security protects your devices, networks, and vital resources from getting hacked. If someone can break into your network, they might be able to steal confidential data or even crash the entire system. This would result in severe security issues and potential financial loss.
                        </p>
                        <h2 style="color: #314259;">What Are Some Types of Data Breach?</h2>
                        <p class="paragraph">Data breaches that are particularly frequent include:</p>
                        <ol>
                            <li>
                                <p class="paragraph">
                                    <strong>Loss or theft of personal data:</strong>
                                     This includes identity theft, stolen Social Security numbers, and credit card fraud;
                                </p>
                            </li>
                            <li>
                                <p class="paragraph">
                                    <strong>Unauthorized Access:</strong>
                                     This occurs when someone obtains unauthorized access to your data and then uses or leaks it.
                                </p>
                            </li>
                            <li>
                                <p class="paragraph">
                                    <strong> Attacks on web applications:</strong>
                                    These include SQL injection, malicious redirects, and cross-site scripting (XSS).
                                </p>
                            </li>
                        </ol>
                        <h2 style="color: #314259;">
                            <strong>
                                How does India plan to deal with the cyber crisis?
                            </strong>
                        </h2>
                        <p>
                            <strong>
                                <img src="../../assets/image/Safe Cyber blog image.jpg" style="height:277px; width: 624px">
                            </strong>
                        </p>
                        <ul>
                            <li>
                                <p class="paragraph">
                                    <strong>Cyber Surakshit Bharat</strong>
                                </p>
                            </li>
                        </ul>
                        <p class="paragraph">The Ministry of Electronics and Information Technology suggested building a robust cybersecurity ecosystem in India and initiated the Cyber Surakshit Bharat mission. The initiative aligns with the government's <strong>'Digital India'</strong> vision, and the program was sponsored by; the National E-Government Division (NeGD).</p>
                       <p class="paragraph">Through this initiative, all government departments' CISOs and front-line IT staff would be encouraged to educate themselves on cybercrime and strengthen their self-defense skills. </p>
                       <p class="paragraph">This program is the first public-private partnership, and it comprises a series of workshops to teach officials about cybersecurity and provide them with toolkits for combating cyber threats.</p>
                       <ul>
                        <li>
                            <p class="paragraph"><strong>CERT-In</strong></p>
                        </li>
                       </ul>
                       <p>Indian Computer Emergency Response Team (CERT-In) is the national agency for cybersecurity. The agency has enhanced the nation's cybersecurity, which has resulted in a reduction in cyberattacks on government networks. Government employees in India are sufficiently prepared to fight cybercrime by being oriented to cybersecurity awareness and anti-phishing techniques.</p>
                       <ul>
                        <li>
                            <p class="paragraph">
                                <strong>
                                    Crisis Management Strategy
                                </strong>
                            </p>
                        </li>
                       </ul>
                       <p class="paragraph">
                        The Indian Government's Cybersecurity Initiatives are intended to establish a strategy in order to prepare employees for such a scenario. In addition, the government ensures that essential tasks won't be hindered by cybersecurity risks. Organizations can deal with cybersecurity crises more skillfully and accurately identify roles and responsibilities at the individual level by putting strategies into place behind the desk.
                       </p>
                       <h2>
                        <strong>Cyber Security: Challenge for 2023</strong>
                       </h2>
                       <p class="paragraph">As businesses go agile and extend hybrid working, security threats have escalated dramatically, requiring businesses to restructure their data security systems. While rapid growth creates plenty of possibilities, it also introduces the risk of conducting business in a globalized economy.</p>

                       <p class="paragraph"><strong>Golden Rules For Cyber Security: </strong></p>
                       <ul>
                        <li>
                            <div class="blog-table">
                            Identification, protection, detection, response, and recovery have been the five pillars of data protection.
                        </div>
                        </li>
                        <li>
                            <div class="blog-table">
                                The tension of a cyberattack is currently appearing as the sixth pillar.

                            </div>
                        </li>
                        <li>
                            <div class="blog-table">
                                Pursuing local rules is a challenge.

                            </div>
                        </li>
                        <li>
                            <div class="blog-table">
                                Nations and regions are coming up with new rules.

                            </div>
                        </li>
                        <li>
                            <div class="blog-table">
                                Provide different layers of security to protect companies' data.

                            </div>
                        </li>
                        <li>
                            <div class="blog-table">
                                To minimize the damage from cyber-attacks, it is important to act within the first 24 to 48 hours.

                            </div>
                        </li>
                        <li>
                            <div class="blog-table">
                                Recovery costs are higher than prevention costs.

                            </div>
                        </li>
                       </ul>
                       <p class="paragraph">
                        Advances in technology will lead to a significant boost in IT investments across all industries in the coming years. The digitalization budget for the year 2022-23 increased by 67.13 percent. The total allocation for the program was approximately 10,676.18 crores, up from 6,388 crores in the year 2021.
                       </p>
                       <p class="paragraph">
                        Cybercriminals are utilizing cutting-edge strategies to damage organizations' reputations significantly, which has the potential to result in consequential financial losses. Investing in security dimensions and taking suitable precautions is merely another aspect of running a business. 
                       </p>
                       <p class="paragraph">We can help you protect yourself from cyber-criminals. Contact us today.</p>
                    </div>
                    <div class="blog-btn" style="display: inline-block">
                        <div class="left">
                            <ul style="margin: 0;
                            padding: 0;
                            list-style: none;">
                                <li class="tgs" style="border: none;">tags:</li>
                                <li class="tgs">
                                    <a>cyber safety</a>
                                </li>
                                
                                <li class="tgs">
                                    <a>data protection </a>
                                    
    
                                </li>
                                
                                <li class="tgs">
                                    <a> cyber surakshit</a>
                                </li>
                              
                                <li class="tgs">
                                    <a>bharat cyber crisis</a>
                                </li>
                            </ul>
                        </div>
                        <div class="right" style="margin-top: 20px;">
                            <ul style="margin: 0;
                            padding: 0;
                            list-style: none;
                        ">
                                <li style="display: inline-block;">
                                    <a class="icon"><i class="fa-brands fa-facebook"></i></a>
                
                                </li>
                                <li style="display: inline-block;">
                                    <a class="icon"><i class="fa-brands fa-instagram"></i></a>
                                </li>
                                <li style="display: inline-block;">
                                    <a class="icon"><i class="fa-brands fa-linkedin"></i></a>
                                </li>
                                <li style="display: inline-block;">
                                    <a class="icon"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                                <li style="display: inline-block;">
                                    <a class="icon"><i class="fa-brands fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 side-blog">
                <div class="sidesec">
                    <div class="rencent">
                        <h4 class="title">
                            Releted Blog
                     </h4>
                     <div class="part-text">
                        <p>Custom Software Development to Expand Your Business</p>
                        
                     </div>
                    </div>
                </div>
                <div class="sidebar" style="margin-bottom: 40px;">
                    <div class="tags">
                        <h4 class="title">Tags:</h4>
                        <a class="side">Cyber Safety</a>
                        <a class="side">data protection</a>
                        <a class="side">cyber surakshit bharat</a>
                        <a class="side">cyber crisis</a>
                        <a class="side">apps</a>
                        <a class="side">app development</a>
                        <a class="side">php</a>
                        <a class="side">development software</a>
                        <a class="side">php development software</a>
                        <a class="side">sas</a>
                        <a class="side">software designing</a>
                        <a class="side">custom software</a>
                        <a class="side">Android</a>
                        <a class="side">php development company</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Related Blogs</h1>
            <div class="col-xl-12 d-flex mt-5">
                <div class="col-xl-4 d-inline-block" style="margin-right: 1rem">
                  <div class="card rounded shadow">
                    <div class="card-body">
                      <img
                        style="width: 100%"
                        src="../../assets/image/image2.jpg"
                        alt=""
                        srcset=""
                      />
                      <!-- <a href="#" style="margin-top: 500px; text-decoration: none"
                          >details <i class="fa-solid fa-arrow-right"></i>
                        </a> -->
                    </div>
                  </div>
                </div>
        
                <div class="col-xl-4 d-inline-block" style="margin-right: 1rem">
                  <div class="card rounded shadow">
                    <div class="card-body">
                      <img
                        style="width: 100%"
                        src="../../assets/image/image2.jpg"
                        alt=""
                        srcset=""
                      />
                      <!-- <a href="#" style="margin-top: 500px; text-decoration: none"
                          >details <i class="fa-solid fa-arrow-right"></i>
                        </a> -->
                    </div>
                  </div>
                </div>
        
                <div class="col-xl-4 d-inline-block">
                  <div class="card rounded shadow">
                    <div class="card-body">
                      <img
                        style="width: 100%"
                        src="../../assets/image/image2.jpg"
                        alt=""
                        srcset=""
                      />
                      <!-- <a href="#" style="margin-top: 500px; text-decoration: none"
                          >details <i class="fa-solid fa-arrow-right"></i>
                        </a> -->
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>

<section style="background-color: #004586;">
    <div class="container">
      <div class="row " style="padding: 10rem;">
        <div class="col-md-6 mt-5 ">
          <h1 class="phone_num">+91-7982-611-413</h1>
          <p class="description" style="color:white">
            Without the hassles of hiring, our expert team delivers dream-team
            results.
          </p>
          <div class="mt-5">
            <button class="main-btn p-3 shadow rounded">
              Contact Now <i class="far fa-arrow-alt-circle-right"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="">
              <button class="main-button p-3 shadow rounded" style="margin-bottom: 2rem;">
                Call For Advice Now
              </button>
              <h2 style="font-size: 45px;line-height: 55px; font-weight: 800; color: #fff; margin: 0;">To make requests for further information, contact us via our social channels.</h2>
            </div>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>