
<div class="section" style="background-color: #f4f5f7">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section1">
          <footer class="text-center text-lg-start">
            <section class="text-center text-lg-start">
              <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div
                  class="row mt-8 pb-3 footer_main"
                  style="background-color: #004586">
                  <!-- Grid column -->
                  <div class="col-md-8 col-lg-7 col-xl-7 mx-auto">
                    <!-- Left -->
                    <div class="me-5 d-none d-lg-block mt-5">
                      <h1 class="footer_heading1 fw-bold">
                        Have any project in your mind?
                      </h1>
                      <p class="footer_heading2 fw-bold mt-5">
                        Looking for the perfect team, We have everything to make
                        your business successful.
                      </p>
                    </div>
                  </div>
  
                  <div class="col-md-4 col-lg-2 col-xl-2 margin_btn mx-auto">
                    <!-- Links -->
                    <button
                      class=" btn btn-light Contact_btn mx-auto text-center shadow"
                      
                    >
                      Contact now<i class='far fa-arrow-alt-circle-right'></i>
                    </button>
                  </div>
                </div>
              </div>
            </section>
          </footer>
        </div>
      </div>
    </div>
  </div>