<app-navbar class="fixed-top"></app-navbar>
<!-- background image -->
<div
  class="bg-image"
  style="background-image: url(../../assets/image/7.1.png)"
></div>
<!-- section1 -->
<section style="background-color: #f4f5f7">
  <!-- <section style="background-color:;"> -->
  <div class="container p-3">
    <div class="row">
      <div class="col-md-12 d-flex">
        <a routerLink="/home"><h5>Home:</h5></a>
        <a><h5>Contact</h5></a>
      </div>
    </div>
  </div>
</section>

<section >
  <div class="container">
    <div class="row p-5 " >
      <div class="col-md-12" style="margin-bottom: 2rem;">
        <div class="row" >
          <div class="col-md-4">
            <div class="card" style="width: 24rem; height: 24rem">
              <h3 class="mx-auto mt-2 text-center" style="font-size: 1.5rem">
                Cyberspace Safety:Initiatives By India
              </h3>
              <img
                class="card-img-top"
                style="height: 15rem"
                src="../../assets/image/safecyber.jpg"
                alt="Card image cap"
                (click)="redirect()"
              />
              <hr />
              <div class="card-body">
                <div class="d-flex" style="text-align: justify">
                  <p><i class="fa-solid fa-user"></i> pavan kalyan</p>
                  <p style="margin-left: auto">
                    <i class="fa-solid fa-calendar-days"></i> 2023-02-06
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 24rem; height: 24rem">
              <h3 class="mx-auto mt-2 text-center" style="font-size: 1.5rem">
                Grow Your Business With Custom Mobile Apps
              </h3>
              <img
                class="card-img-top"
                style="height: 15rem"
                src="../../assets/image/admin.png"
                alt="Card image cap"
                (click)="mobileblog()"
              />
              <hr />
              <div class="card-body">
                <div class="d-flex" style="text-align: justify">
                  <p><i class="fa-solid fa-user"></i> pavan kalyan</p>
                  <p style="margin-left: auto">
                    <i class="fa-solid fa-calendar-days"></i> 2023-02-06
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card" style="width: 24rem; height: 24rem">
              <h3 class="mx-auto mt-2 text-center" style="font-size: 1.5rem">
                5 Benifit of PHP in web Development
              </h3>
              <img
                class="card-img-top"
                style="height: 15rem"
                src="../../assets/image/php.jpg"
                alt="Card image cap"
                (click)="phpblog()"
              />
              <hr />
              <div class="card-body">
                <div class="d-flex" style="text-align: justify">
                  <p><i class="fa-solid fa-user"></i> pavan kalyan</p>
                  <p style="margin-left: auto">
                    <i class="fa-solid fa-calendar-days"></i> 2023-02-06
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 ">
        <div class="row">

           <div class="col-md-4">
            <div class="card" style="width: 24rem; height: 24rem">
              <h3 class="mx-auto mt-2 text-center" style="font-size: 1.5rem">
                Custom Software Development to Expand Your Business
              </h3>
              <img
                class="card-img-top"
                style="height: 15rem"
                src="../../assets/image/image2.jpg"
                alt="Card image cap"
                (click)="customsoftwaredevlopment()"
              />
              <hr />
              <div class="card-body">
                <div class="d-flex" style="text-align: justify">
                  <p><i class="fa-solid fa-user"></i> pavan kalyan</p>
                  <p style="margin-left: auto">
                    <i class="fa-solid fa-calendar-days"></i> 2023-02-06
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card" style="width: 24rem; height: 24rem">
              <h3 class="mx-auto mt-2 text-center" style="font-size: 1.5rem">
                Choose the right PHP development company
              </h3>
              <img
                class="card-img-top"
                style="height: 15rem"
                src="../../assets/image/image3.jpg"
                alt="Card image cap"
                (click)="phpdevlopment()"
              />
              <hr />
              <div class="card-body">
                <div class="d-flex" style="text-align: justify">
                  <p><i class="fa-solid fa-user"></i> pavan kalyan</p>
                  <p style="margin-left: auto">
                    <i class="fa-solid fa-calendar-days"></i> 2023-02-06
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card" style="width: 24rem; height: 24rem">
              <h3 class="mx-auto mt-2 text-center" style="font-size: 1.5rem">
                SaaS application development & benefits
              </h3>
              <img
                class="card-img-top"
                style="height: 15rem"
                src="../../assets/image/image4.jpg"
                alt="Card image cap"
                (click)="saasdevlopment()"
              />
              <hr />
              <div class="card-body">
                <div class="d-flex" style="text-align: justify">
                  <p><i class="fa-solid fa-user"></i> pavan kalyan</p>
                  <p style="margin-left: auto">
                    <i class="fa-solid fa-calendar-days"></i> 2023-02-06
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background-color: #004586;">
    <div class="container">
      <div class="row " style="padding: 10rem;">
        <div class="col-md-6 mt-5 ">
          <h1 class="phone_num">+91-7982-611-413</h1>
          <p class="description" style="color:white">
            Without the hassles of hiring, our expert team delivers dream-team
            results.
          </p>
          <div class="mt-5">
            <button class="main-btn p-3 shadow rounded" (click)="redirectd()">
              Contact Now <i class="far fa-arrow-alt-circle-right"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="">
              <button class="main-button p-3 shadow rounded" style="margin-bottom: 2rem;" (click)="redirectd()">
                Call For Advice Now
              </button>
              <h2 style="font-size: 45px;line-height: 55px; font-weight: 800; color: #fff; margin: 0;">To make requests for further information, contact us via our social channels.</h2>
            </div>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>