<app-navbar class="fixed-top"></app-navbar>
<!-- background image -->
<div
  class="bg-image"
  style="background-image: url(../../assets/image/services.jpg)"
></div>
<!-- section1 -->
<section style="background-color: #f4f5f7">
  <!-- <section style="background-color:;"> -->
  <div class="container">
    <div class="row p-3">
      <div class="col-md-12 d-flex">
        <a routerLink="/home"><h5>Home:</h5></a>
        <a><h5>Services</h5></a>
      </div>
    </div>
  </div>
</section>

<section style="background-color: #f4f5f7">
  <div class="container">
    <div class="row p-3">
      <div class="col-md-6">
        <img src="../../assets/image/service-7.jpg" alt="" srcset="" />
      </div>
      <div class="col-md-6">
        <h2 class="part-text">
          We run all kinds of IT services that vow your success
        </h2>
        <p class="text-part">
          We help transform the world most important businesses into that
          anticipate the agile unpredtable adapt rapidly disruption with high
          potential and high ambition.
        </p>
      </div>
    </div>
  </div>
</section>

<section style="background-color: #f4f5f7">
  <div class="container">
    <div class="row text-center p-5">
      <div class="col-md-12">
        <h2 class="part-text">
          What we promise to the highest quality services
        </h2>
        <p class="text-part">
          Our skilled project managers provide continuous quality control;
          globally based teams deliver a superior product in terms of design,
          functionality and usability.
        </p>
      </div>
    </div>
  </div>
</section>

<section style="background-color: #f4f5f7">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 d-flex mt-5">
        <div class="col-xl-4 d-inline-block" style="margin-right: 1rem">
          <div class="card rounded shadow">
            <div class="card-body">
              <img
                style="width: 100%"
                src="../../assets/image/service1.jpeg"
                alt=""
                srcset=""
              />
              <!-- <a href="#" style="margin-top: 500px; text-decoration: none"
                  >details <i class="fa-solid fa-arrow-right"></i>
                </a> -->
            </div>
          </div>
        </div>

        <div class="col-xl-4 d-inline-block" style="margin-right: 1rem">
          <div class="card rounded shadow">
            <div class="card-body">
              <img
                style="width: 100%"
                src="../../assets/image/service2.jpeg"
                alt=""
                srcset=""
              />
              <!-- <a href="#" style="margin-top: 500px; text-decoration: none"
                  >details <i class="fa-solid fa-arrow-right"></i>
                </a> -->
            </div>
          </div>
        </div>

        <div class="col-xl-4 d-inline-block">
          <div class="card rounded shadow">
            <div class="card-body">
              <img
                style="width: 100%"
                src="../../assets/image/service3.jpeg"
                alt=""
                srcset=""
              />
              <!-- <a href="#" style="margin-top: 500px; text-decoration: none"
                  >details <i class="fa-solid fa-arrow-right"></i>
                </a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 d-flex mt-5">
        <div class="col-xl-4 d-inline-block" style="margin-right: 1rem">
          <div class="card rounded shadow">
            <div class="card-body">
              <img
                style="width: 100%"
                src="../../assets/image/service4.jpeg"
                alt=""
                srcset=""
              />
              <!-- <a href="#" style="margin-top: 500px; text-decoration: none"
                    >details <i class="fa-solid fa-arrow-right"></i>
                  </a> -->
            </div>
          </div>
        </div>

        <div class="col-xl-4 d-inline-block" style="margin-right: 1rem">
          <div class="card rounded shadow">
            <div class="card-body">
              <img
                style="width: 100%"
                src="../../assets/image/service5.jpeg"
                alt=""
                srcset=""
              />
              <!-- <a href="#" style="margin-top: 500px; text-decoration: none"
                    >details <i class="fa-solid fa-arrow-right"></i>
                  </a> -->
            </div>
          </div>
        </div>

        <div class="col-xl-4 d-inline-block">
          <div class="card rounded shadow">
            <div class="card-body">
              <img
                style="width: 100%"
                src="../../assets/image/service6.jpeg"
                alt=""
                srcset=""
              />
              <!-- <a href="#" style="margin-top: 500px; text-decoration: none"
                    >details <i class="fa-solid fa-arrow-right"></i>
                  </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background-color: #f4f5f7">
  <div class="container">
    <div class="row p-5">
      <h1 class="part-text text-center">How we work and provide services!</h1>
      <div class="col-md-12 d-flex justify-content-between">
        <div class="col-md-3" style="width: 20%">
          <p>1</p>
          <div>
            <h3 style="line-height: 1.3; font-size: 1.75rem">
              Meeting with the customer
            </h3>
            <p class="text-part">
              Collecting event old above shy bed favour income has stuff.
            </p>
          </div>
        </div>

        <div class="col-md-3" style="width: 20%">
          <p>2</p>
          <div>
            <h3 style="line-height: 1.3; font-size: 1.75rem">
              Work hard on the project
            </h3>
            <p class="text-part">
              Collecting event old above shy bed favour income has stuff.
            </p>
          </div>
        </div>

        <div class="col-md-3" style="width: 20%">
          <p>3</p>
          <div>
            <h3 style="line-height: 1.3; font-size: 1.75rem">
              We finish the project
            </h3>
            <p class="text-part">
              Collecting event old above shy bed favour income has stuff.
            </p>
          </div>
        </div>

        <div class="col-md-3" style="width: 20%">
          <p>4</p>
          <div>
            <h3 style="line-height: 1.3; font-size: 1.75rem">
              Successfully launch project
            </h3>
            <p class="text-part">
              Collecting event old above shy bed favour income has stuff.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background-color: #004586;">
  <div class="container">
    <div class="row " style="padding: 10rem;">
      <div class="col-md-6 mt-5 ">
        <h1 class="phone_num">+91-7982-611-413</h1>
        <p class="description">
          Without the hassles of hiring, our expert team delivers dream-team
          results.
        </p>
        <div class="mt-5">
          <button class="main-btn p-3 shadow rounded">
            Contact Now <i class="far fa-arrow-alt-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="">
            <button class="main-button p-3 shadow rounded" style="margin-bottom: 2rem;">
              Call For Advice Now
            </button>
            <h2 style="font-size: 45px;line-height: 55px; font-weight: 800; color: #fff; margin: 0;">To make requests for further information, contact us via our social channels.</h2>
          </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
