<app-navbar></app-navbar>
<div class="service-page" style="background-color: #f4f5f7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div
          class="sidebar collapse1 sidebar-collapse"
          id="sidebar-widgetContent"
        >
          <div class="sidebar-widget" style="margin-bottom: 40px">
            <div class="all-solution">
              <h4 class="headers">Services</h4>
              <ul class="lists" style="cursor: pointer">
                <li class="all-list">
                    <a (click)="mobileDev()">Mobile App Development</a>
                  </li>
                  <li class="all-list">
                    <a (click)="iosDev()">iOS App Development</a>
                  </li>
                  <li class="all-list">
                    <a (click)="androidDev()">Android App Development</a>
                  </li>
                  <li class="all-list">
                    <a (click)="webdesigen()">Web Design</a>
                  </li>
                  <li class="all-list">
                    <a (click)="contentwriting()">Content Writing</a>
                  </li>
                  <li class="all-list">
                    <a (click)="phpwebdev()">PHP Web Development </a>
                  </li>
                  <li class="all-list">
                    <a (click)="devopsservice()">DevOps Services</a>
                  </li>
                  <li class="all-list">
                    <a (click)="sasdev()">SaaS Development</a>
                  </li>
                  <li class="all-list">
                    <a (click)="uiuxdesigen()">UI/UX Design</a>
                  </li>
                  <li class="all-list">
                    <a (click)="cloudsolutions()">Cloud Solutions</a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="service-details-area">
          <h1 style="text-align: center; font-size: 2.5rem">
            PHP Web Development
          </h1>
          <div class="detail-image">
            <div class="part-img">
              <img
                style="width: 857px; height: 450px !important"
                src="../../assets/image/phpwebdev.jpeg"
              />
              <a
                class="support"
                style="background: #0064eb; color: #fff; padding-top: 10px"
                >Learn More</a
              >
            </div>
          </div>
          <div class="service-detail" style="box-sizing: border-box">
            <div class="part-text" style="box-sizing: border-box">
              <p
                style="
                  font-size: 13pt;
                  font-family: Calibri, sans-serif;
                  background-color: transparent;
                  font-variant-numeric: normal;
                  font-variant-east-asian: normal;
                  vertical-align: baseline;
                  white-space: pre-wrap;
                "
              >
                Our team is made up of a variety of skilled and committed PHP
                developers who produce reliable and high-end PHP web development
                solutions. When you use our PHP development services,, you gain
                access to the industry's leading talent who work around the
                clock to deliver solid PHP systems focused on the finest
                strategies in an attempt to grant you a holistic strength.
                <br /><br />
                Our team is made up of a variety of skilled and committed PHP
                developers who produce reliable and high-end PHP web development
                solutions. When you use our PHP development services,, you gain
                access to the industry's leading talent who work around the
                clock to deliver solid PHP systems focused on the finest
                strategies in an attempt to grant you a holistic strength.
              </p>

              <h2
                style="
                  text-align: left;
                  line-height: 1.295;
                  margin-top: 0pt;
                  margin-bottom: 8pt;
                "
              >
                <span
                  style="
                    background-color: transparent;
                    font-family: Calibri, sans-serif;
                    font-size: 16pt;
                    font-weight: 700;
                    white-space: pre-wrap;
                  "
                >
                  Get Dynamic Web Solutions Using PHP Development Services
                </span>
              </h2>

              <p
                style="
                  font-size: 14pt;
                  font-family: Calibri, sans-serif;
                  background-color: transparent;
                  font-variant-numeric: normal;
                  font-variant-east-asian: normal;
                  vertical-align: baseline;
                  white-space: pre-wrap;
                "
              >
                We are a well-known web development firm that provides PHP
                development services, with over five years of experience. Our
                team is made up of a variety of skilled and committed PHP
                developers who produce reliable and high-end PHP web development
                solutions. When you use our PHP development services,, you gain
                access to the industry's leading talent who work around the
                clock to deliver solid PHP systems focused on the finest
                strategies in an attempt to grant you a holistic strength.
              </p>

              <h2
                style="
                  text-align: left;
                  line-height: 1.295;
                  margin-top: 0pt;
                  margin-bottom: 8pt;
                "
              >
                <span
                  style="
                    background-color: transparent;

                    font-family: Calibri, sans-serif;
                    font-size: 16pt;
                    font-weight: 700;
                    white-space: pre-wrap;
                  "
                >
                  Our Expertise in Complete PHP Development
                </span>
              </h2>

              <p
                style="
                  font-size: 14pt;
                  font-family: Calibri, sans-serif;
                  background-color: transparent;
                  font-variant-numeric: normal;
                  font-variant-east-asian: normal;
                  vertical-align: baseline;
                  white-space: pre-wrap;
                "
              >
                For the creation of fast-loading, scalable websites
                incorporating any of the PHP frameworks, explore our
                feature-rich and cost-effective PHP development services.
              </p>
              <ul>
                <li style="font-size: 17px;">
                  Customized PHP Development
                  
                </li>
                <p>
                    Using a variety of PHP frameworks and our team with
                    comprehensive experience in additional skills such as OOP,
                    MVC, and Core PHP to create dynamic and static solutions.
                  </p>
              </ul>
              <ul>
                <li style="font-size: 17px;">
                  PHP Development for online business

                  
                </li>
                <p>
                    To meet the requirements of businesses, our team of skilled
                    professionals creates top-notch E-commerce solutions.
                  </p>
                  <p>
                    For your business, we can build a PHP website that will
                    engage new customers, keep old ones that come back, and
                    generate leads.
                  </p>
              </ul>
              <ul>
                <li style="font-size: 17px;">
                  Development of Cloud-Based Web
                 
                </li>
                <p>
                    We use customized SaaS product development, design, and
                    maintenance for small and medium-sized businesses.
                  </p>
                  <p>
                    We also have a wide range of solutions that we are experts
                    in, including ERP, CRM, entertainment, and education.
                  </p>
              </ul>
              <ul>
                <li style="font-size: 17px;">
                  CMS Development
                </li>
                <p>
                    Our team of PHP web development professionals has extensive
                    experience with open-source content management systems,
                    including WordPress, Drupal, Joomla, and others.
                    <br />
                    We create websites that are focused on results and are
                    completely integrated with a CMS of your choosing.
                  </p>
              </ul>
              <ul>
                <li style="font-size: 17px;">
                  PHP Support & Maintenance
                  
                </li>
                <p>
                    We don't just create a PHP-powered website and mobile app.
                    <br />
                    We also offer assistance with this area's platform's
                    security, efficiency, and navigational ease.
                  </p>
              </ul>
              <ul>
                <li style="font-size: 17px;">
                  Solutions for Social Networking
                  
                </li>
                <p>
                    It is simple for us to build dynamic social networking
                    websites.
                    <br />
                    Our staff of experts has a great deal of experience with the
                    PHP programming language
                  </p>
              </ul>

              <ul>
                <li  style="font-size: 17px;">
                    PHP Support & Maintenance
                  
                </li>
                <p>
                    We don't just create a PHP-powered website and mobile app. 
                    <br />
                    We also offer assistance with this area's platform's security, efficiency, and navigational ease.
                  </p>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section style="background-color: #004586">
  <div class="container">
    <div class="row" style="padding: 10rem">
      <div class="col-md-6 mt-5">
        <h1 class="phone_num">+91-7982-611-413</h1>
        <p class="description" style="color: white">
          Without the hassles of hiring, our expert team delivers dream-team
          results.
        </p>
        <div class="mt-5">
          <button class="main-btn p-3 shadow rounded" routerLink="/help">
            Contact Now <i class="far fa-arrow-alt-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="">
          <button
            class="main-button p-3 shadow rounded"
            style="margin-bottom: 2rem"
            routerLink="/help"
          >
            Call For Advice Now
          </button>
          <h2
            style="
              font-size: 45px;
              line-height: 55px;
              font-weight: 800;
              color: #fff;
              margin: 0;
            "
          >
            To make requests for further information, contact us via our social
            channels.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
