<!-- 1st -->
<section class="banner_wrapper">
  <div class="container">
    <div class="row align-item-center">
      <div class="col-lg-5 text-center text-lg-start order-lg-1 order-2 mt-5">
        <h1 class="ms-5 contain_text">
          Your Trusted <br />
          <span>IT Partner!</span>
        </h1>
        <p
          class="ms-5"
          style="font-size: 28px; padding-bottom: 10px; color: #314259"
        >
          Quality Service Since 2017
        </p>
        <p
          class="ms-5"
          style="
            line-height: 32px;
            font-weight: 500;
            font-size: 20px;
            color: #314259;
          "
        >
          Join us to a experience a highly skilled approach that offers you a
          innovative and efficient it service
        </p>
        <!-- <a class="main-btn p-3 mt-5 ms-5  " href="">Explore More</a> -->
        <button class="main-btn ms-5 p-3 shadow rounded" (click)="redirect()">
          Explore More <i class="far fa-arrow-alt-circle-right"></i>
        </button>
      </div>
      <div class="col-lg-7 text-center order-lg-2 order-1">
        <img src="../../assets/image/it.jpg " class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<!-- 2nd -->
<section class="banner_wrapperr" style="background-color: #f4f5f7">
  <div class="container new_details shadow">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-sm-12 col-lg-12 row">
        <div class="col-lg-3 col-xl-3 col-sm-3 p-4 content_wrapper">
          <ul class="mt-4" style="line-height: 45px; font-size: 18px">
            <li style="list-style: none">
              <i class="fa fa-circle"></i>
              <a href="#" style="text-decoration: none">Database Mangement</a>
            </li>
            <li style="list-style: none">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <a href="#" style="text-decoration: none">Grow Your Business</a>
            </li>
            <li style="list-style: none">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <a href="#" style="text-decoration: none">On Demand It Support</a>
            </li>
            <li style="list-style: none">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <a href="#" style="text-decoration: none">Cloud Computing</a>
            </li>
            <li style="list-style: none">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <a href="#" style="text-decoration: none">Software Devlopement</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-1 arrow_img">
          <img class="image" src="../../assets/image/line3.png" />
        </div>
        <div class="col-lg-8">
          <div class="row col-lg-12 col-sm-12 col-xl-12 mx-w">
            <div class="row p-5">
              <div class="col-xl-6">
                <div class="row">
                  <div class="col-lg-3 project_detail_img">
                    <img class="pr_img" src="../../assets/image/oracle.png" />
                  </div>
                  <div class="col-lg-9">
                    <h3 class="mb-1 mt-0">Oracle</h3>
                    <p>
                      Our Oracle Practice intends to offer market-leading
                      solutions across a wide range of industry verticals.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="row">
                  <div class="col-lg-3 project_detail_img mt-2">
                    <img class="pr_img" src="../../assets/image/sap.png" />
                  </div>
                  <div class="col-lg-9">
                    <h3 class="mb-1 mt-1">SAP</h3>
                    <p>
                      Grow with SAP! Serving you with end-to-end business,
                      service, & cloud transformation.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="row">
                  <div class="col-lg-3 project_detail_img mt-2">
                    <img
                      class="pr_img"
                      src="../../assets/image/microsoft.png"
                    />
                  </div>
                  <div class="col-lg-9">
                    <h3 class="mb-1 mt-1">Microsoft</h3>
                    <p>
                      Get tangible business value from our Microsoft solutions
                      and technology services.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="row">
                  <div class="col-lg-3 project_detail_img mt-2">
                    <img
                      class="pr_img"
                      src="../../assets/image/google-cloud.png"
                    />
                  </div>
                  <div class="col-lg-9">
                    <h3 class="mb-1 mt-1">Google Cloud</h3>
                    <p>
                      Improving procurement and leveraging Google Cloud
                      financial commitments to cover Atlas costs.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="row">
                  <div class="col-lg-3 project_detail_img mt-2">
                    <img class="pr_img" src="../../assets/image/mysql.png" />
                  </div>
                  <div class="col-lg-9">
                    <h3 class="mb-1 mt-1">MySQL</h3>
                    <p>
                      Eliminate separate analytics databases, faster performance
                      with lower total cost-ownership.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 3rd -->
<section style="background-color: #f4f5f7">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="txt_header4">Trusted by your favorite brands</h4>
        <div>
          <ul
            class="d-flex justify-content-lg-between"
            style="list-style: none"
          >
            <li>
              <img class="img_sec" src="../../assets/image/NIIT.png" />
            </li>
            <li>
              <img class="img_sec" src="../../assets/image/worldsindia.png" />
            </li>
            <li>
              <img class="img_sec" src="../../assets/image/Skull.png" />
            </li>
            <li>
              <img class="img_sec" src="../../assets/image/Cybex.png" />
            </li>
            <li>
              <img class="img_sec" src="../../assets/image/CSA.png" />
            </li>
          </ul>
          <ul
            class="d-flex justify-content-lg-between"
            style="list-style: none"
          >
            <li>
              <img class="img_sec" src="../../assets/image/daily-pity.png" />
            </li>
            <li>
              <img class="img_sec" src="../../assets/image/10x.png" />
            </li>
            <li>
              <img class="img_sec" src="../../assets/image/TTV.png" />
            </li>
            <li>
              <img class="img_sec" src="../../assets/image/the-express.png" />
            </li>
            <li>
              <img class="img_sec" src="../../assets/image/taxwale.png" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 4th -->
<section style="background-color: #f4f5f7; padding: 100px ;">
  <div class="container">
    <div class="row align-item-center">
      <div class="col-lg-6 text-center text-lg-start">
        <div class="ei-new-wy-t">
          <h1>
            Rewards and <br />
            Recognition
          </h1>
          <p style="line-height: 2; color: #314259 ;">
            Eminence Innovation is a renowned and leading IT company with over
            five years of experience. We have a 99.9% success rate, which has
            gained us 5+ awards and lots of happy clients. Our team of
            innovative professionals and thinkers has led our company from the
            forefront and assisted us in becoming a solid success. We aim to
            deliver quality products with a quick delivery rate while making
            sure to serve you with the highest quality of products and services.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <div class="ei-wn-box">
              <h3
                style="
                  display: inline-block;
                  font-size: 42px;
                  font-weight: 500; ;
                "
              >
                5
              </h3>
              <span style="font-size: 42px; font-weight: 500; color: #314259"
                >+</span
              >
              <p style="font-size: 24px">years of experience</p>
              <div
                class="justify-content-end"
                style="width: 69px; float: right"
              >
                <img src="../../assets/image/experience.svg" />
              </div>
            </div>
            <div class="ei-wn-box mt-3">
              <h3
                style="
                  display: inline-block;
                  font-size: 42px;
                  font-weight: 500; ;
                "
              >
                50
              </h3>
              <span style="font-size: 42px; font-weight: 500; color: #314259"
                >+</span
              >
              <p style="font-size: 24px">total project</p>
              <div
                class="justify-content-end"
                style="width: 69px; float: right"
              >
                <img src="../../assets/image/project.svg" />
              </div>
            </div>
            <div class="ei-wn-box mt-3">
              <h3
                style="
                  display: inline-block;
                  font-size: 42px;
                  font-weight: 500; ;
                "
              >
                5
              </h3>
              <span style="font-size: 42px; font-weight: 500; color: #314259"
                >+</span
              >
              <p style="font-size: 24px">winning awards</p>
              <div
                class="justify-content-end"
                style="width: 69px; float: right"
              >
                <img src="../../assets/image/award.svg" />
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="ei-wn-bo">
              <h3
                style="display: inline-block; font-size: 42px; font-weight: 500"
              >
                107
              </h3>
              <span style="font-size: 42px; font-weight: 500; color: #314259"
                >+</span
              >
              <p style="font-size: 24px">Client</p>
              <div
                class="justify-content-end"
                style="width: 69px; float: right"
              >
                <img src="../../assets/image/happy-client.svg" />
              </div>
            </div>
            <div class="ei-wn-bo mt-3">
              <h3
                style="display: inline-block; font-size: 42px; font-weight: 500"
              >
                50
              </h3>
              <span style="font-size: 42px; font-weight: 500; color: #314259"
                >+</span
              >
              <p style="font-size: 24px">Employee</p>
              <div
                class="justify-content-end"
                style="width: 69px; float: right"
              >
                <img src="../../assets/image/employees.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 5th -->
<section>
  <div class="container p-5 mt-1">
    <div class="text-center text_header">
      <h1>We have over 5 years experience</h1>
      <p>
        Get The Best Of Everything With Eminence Innovation! We Are A Leading IT
        Company, Providing Quality Solutions That Will Take Your Business To The
        Next Level.
      </p>
    </div>
    <div class="row text_row">
      <div class="col-md-4">
        <div>
          <h1>We cater to your needs</h1>
          <p>
            Eminence Innovation aims to put customer satisfaction as the top
            priority. We engage with our clients regularly to learn more about
            their plans and requirements. With our top-level quality service and
            fast pace product delivery. We have gained the trust of our 99%
            happy customers, who look forward to joining hands in their next
            venture.
          </p>
          <p style="color: blue">
            “Who do not know to pursue that are extremely painful again is there
            anyone”.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img style="width: 400px" src="../../assets/image/about-img.png" />
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h1>Mission & Vision</h1>
          <p>
            We dedicate ourselves to providing error-free, top-quality products
            or services to businesses that will enhance their reputation in the
            market. Our B2B products or problem-solving services are inclined to
            gain trust in the market. We vision expanding on a broader scale to
            provide expert assistance to our potential customers.
          </p>
          <p>
            On time, delivery proven track record. We are here for your success.
          </p>
        </div>
        <button class="main-buttn ms-5 p-3 shadow rounded" (click)="redirect()" >
          Contact Now <i class="far fa-arrow-alt-circle-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- 6th -->
<section class="p-5" style="background-color: #f4f5f7">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card shadow card_text mx-auto" style="width: 18rem; height: 18rem">
          <div class="card-body ">
            <h2>Client Satisfaction</h2>
            <p class="card-text" style="line-height: 2rem; font-size: 1rem">
              Our services and products are designed following each client's
              goals and requirements. From software development & solutions to
              digital marketing, we cater to our client’s every need.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow card_text mx-auto" style="width: 18rem; height: 18rem">
          <div class="card-body">
            <h2>Timely Delivery</h2>
            <p class="card-text" style="line-height: 2rem; font-size: 1rem">
              We have appointed separate teams to work on different operations
              that mostly save our time and enhance the speed of deploying
              robust products or services to our customers.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow card_text mx-auto" style="width: 18rem; height: 18rem">
          <div class="card-body">
            <h2>Broad Range Of Services</h2>
            <p class="card-text" style="line-height: 2rem; font-size: 1rem">
              From robust software development, design, and solutions to
              extensive digital marketing. We dedicate ourselves to serving a
              wide range of industries and various businesses.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card shadow card_text mx-auto" style="width: 18rem; height: 18rem">
          <div class="card-body">
            <h2>Quality Assurance</h2>
            <p class="card-text" style="line-height: 2rem; font-size: 1rem">
              We are honored by the International Trade Council for our superior
              business quality standards. We are also awarded by our clients
              with their valuable trust in us; each time we serve them.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 7th section of body -->
<section style="background-color: #f4f5f7">
  <div class="container">
    <div
      class="row border border-2 rounded-5 text-center allbrand"
      style="background-color: white"
    >
      <div class="text-center mt-3">
        <h3 style="font-size: 40px; font-weight: 600">Our glory</h3>
      </div>
      <div class="col-xl-6">
        <div class="col-xl-12">
          <img
            style="width: 20rem"
            src="../../assets/image/quality.png"
            alt=""
          />
          <h6 style="font-size: 1.5rem; font-weight: 500">
            Eminenece Innovation Member of:
          </h6>
        </div>
        <div class="col-xl-12 d-flex brandImg">
          <div>
            <img
              class="me-5"
              style="width: 15rem"
              src="../../assets/image/google.jpg"
            />
          </div>
          <div>
            <img src="../../assets/image/jetro.png" alt="jetro" />
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="col-xl-12">
          <div class="mt-2 mx-auto">
            <img
              class="me-3"
              src="../../assets/image/certificate1.png"
              alt=""
              srcset=""
            />
            <img
              src="../../assets/image/certificate2 (1).png"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <!-- <div class="col-xl-12 p-3">
          <div>
            <button class="me-2 card_button">
              <i class="far fa-arrow-alt-circle-left" style="color: white;"></i>
            </button>
            <button class="card_button">
              <i class="far fa-arrow-alt-circle-right" style="color: white;"></i>
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>


<!-- 8th section of body -->
<section style="background-color: #f4f5f7">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 d-flex mt-5" style="text-align: inherit">
        <div class="col-xl-4 d-inline-block">
          <div class="card rounded shadow" style="width: 21rem; height: 20rem">
            <div class="card-body">
              <h1 class="mx-auto mt-3 fw-bold" style="font-size: 2rem">
                <a href="#" style="text-decoration: none; color: black"
                  >Mobile App Devlopement</a
                >
              </h1>
              <p style="line-height: 1.7rem; color: #314259">
                To help you grow your business, we have a team of experts who
                can deliver creative and innovative mobile application
                development.
              </p>
              <a href="#" style="margin-top: 500px; text-decoration: none"
                >details <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card rounded shadow" style="width: 21rem; height: 20rem">
            <div class="card-body">
              <h1
                class="mx-auto mt-3 fw-bold"
                style="font-size: 1.9rem; font-weight: 500; line-height: 2rem"
              >
                <a href="#" style="text-decoration: none; color: black"
                  >ios App Devlopement</a
                >
              </h1>
              <p style="line-height: 1.7rem; color: #314259">
                Our iOS developers can help you develop products across devices
                and run the iOS operating system using technologies, automation.
              </p>

              <a href="#" style="margin-top: 500px; text-decoration: none"
                >details<i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card rounded shadow" style="width: 21rem; height: 20rem">
            <div class="card-body">
              <h1
                class="mx-auto mt-3 fw-bold"
                style="font-size: 1.7rem; font-weight: 500; margin-top: 1rem"
                style="font-size: 2rem"
              >
                <a href="#" style="text-decoration: none; color: black"
                  >Android App Devlopement</a
                >
              </h1>
              <p style="line-height: 1.7rem; color: #314259">
                You can rely on our team of highly professional Android app
                designers, testers, and developers for all your Android needs.
              </p>

              <a href="#" style="margin-top: 500px; text-decoration: none"
                >details <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 d-flex mt-5 mb-5">
        <div class="col-xl-4">
          <div class="card rounded shadow" style="width: 21rem; height: 20rem">
            <div class="card-body">
              <h1
                class="mx-auto fw-bold"
                style="font-size: 2rem; font-weight: 500; margin-top: 1rem"
              >
                <a href="#" style="text-decoration: none; color: black"
                  >Web Design</a
                >
              </h1>
              <p style="line-height: 1.5rem; color: #314259">
                Our ultimate aim is to create a website for our clients that is
                extremely handy, packed with incredible features, and has a
                clear.
              </p>
              <a href="#" style="margin-top: 500px; text-decoration: none"
                >details <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card rounded shadow" style="width: 21rem; height: 20rem">
            <div class="card-body">
              <h1
                class="mx-auto fw-bold"
                style="font-size: 2rem; font-weight: 500; margin-top: 1rem"
              >
                <a href="#" style="text-decoration: none; color: black"
                  >Content Writing</a
                >
              </h1>
              <p style="line-height: 1.6rem; color: #314259">
                A team of highly experienced and skilled writers can help with
                any writing project. Our services include editing, proofreading.
              </p>

              <a href="#" style="margin-top: 500px; text-decoration: none"
                >details <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card rounded shadow" style="width: 21rem; height: 20rem">
            <div class="card-body">
              <h1
                class="mx-auto fw-bold"
                style="font-size: 2rem; font-weight: 300; margin-top: 1rem"
              >
                <a href="#" style="text-decoration: none; color: black"
                  >PHP Web Development</a
                >
              </h1>
              <p style="line-height: 1.5rem; color: #314259">
                You will gain access to the industry's leading talents who are
                devoted to delivering solid PHP systems based on the finest
                strateg.
              </p>
              <a href="#" style="margin-top: 500px; text-decoration: none"
                >details <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- 9th section of body -->
<section style="background-color: #f4f5f7;">
  <div
    class="container shadow"
    style="border: 1px solid white; border-radius: 20px ;background-color: white; ">
    <div class="row" style="margin-bottom: 65px; margin-right: 50px;">
      <div class="col-xl-8 d-flex">
        <div class="col-xl-6">
          <img  src="../../assets/image/project-2.png" alt="" srcset="" />
        </div>
        <div class="col-xl-6">
          <img src="../../assets/image/project-3.png" alt="" srcset="" />
        </div>
      </div>
      <div class="col-xl-4 line">
        <h1
          class="mt-5 fw-bold mx-auto"
          style="font-size: 2rem; margin-left: 20px; line-height: 2rem">
          There are more latest project done yet.
        </h1>
        <p class="mx-auto" style="font-size: 1.2rem">
          Software Application Development with deep dives into a client's
          business requirements to build custom applications and solutions for
          their business.
        </p>
        <p class="mx-auto" style="font-size: 1.2rem">
          We help companies in their digital transformation journey focusing on
          customer touchpoints and employees equally.
        </p>

        <p class="mx-auto" style="font-size: 1.2rem">
          Whether its a high-demand customer-facing solution or a business
          appplication — we have always help our clients to achieve huge success
          in their mobility intiatives.
        </p>
        <!-- <div class="text-center mt-5">
          <button class="me-2 card_button rounded shadow">
            <i class="far fa-arrow-alt-circle-left" style="color: white;"></i>
          </button>
          <button class="card_button rounded shadow" style="color: white;">
            <i class="far fa-arrow-alt-circle-right"></i>
          </button>
        </div> -->
      </div>
    </div>
  </div>
</section>


<!-- 10th section of body -->
<section class="p-5" style="background-color: #f4f5f7;">
  <div class="container">
    <div class="row ">
      <div class="col-xl-5 mt-5">
        <div>
          <img style="border-top-left-radius: 10rem;" src="../../assets/image/support.jpg" alt="">
        </div>
      </div>
      <div class="col-xl-7 mt-5">
        <!-- <div class="col-xl-4 "> -->
          <h1 style="font-size: 2.7rem; margin-left: 100px; line-height: 2.5rem;">Your Trusted Partner in IT Solutions!</h1>
          <div style="font-size: 1.5rem; margin-left: 100px; line-height: 2.5rem;">
            <p class="fw-bold" style="color: #314259;">Without the hassles of hiring, our expert team delivers dream-team results.</p>
          </div>
          <p class="fw-bold mt-5" style=" margin-left: 100px; font-size: 2.3rem;">+91-7982-611-413</p>
            <div class="mt-5">
            <button class="main-buttn  p-3 shadow rounded " style="margin-left: 100px" (click)="redirect()"  >
              Contact Now <i class="far fa-arrow-alt-circle-right"></i>
            </button>
            </div>  
          <p style="color: #314259; margin-top: 6rem ; margin-left: 250px ;font-size: 25px; line-height: 1.7rem;">UI/UX Design is at the core of all solutions developed by Innovation. Our design is more than just a collection of words and images. We focus on delighting the user.</p>
      </div>
    </div>
  </div>
</section>


<!-- 11th section of body -->
<section>
 <div class="container p-5">
  <div class="row">
    <div class="col-xl-4">
      <div style="margin-top: 100px;">
        <h1 class="fw-bold" style="font-size: 2rem;">Latest Tech Blogs</h1>
        <p style="font-size: 1.3rem;line-height: 1.9rem; color: #314259;">Technology solution updates and all the problem-solving blogs are at your fingertips. Get all the latest news and techno-solution news on our feed.</p>
      </div>
    </div>
    <div class="col-xl-8  ">
      <div class="row ">
        <div class="col-xl-6 ">
          <div class="card" style="width: 24rem; height: 24rem;">
            <h3 class=" mx-auto mt-2 text-center " style="font-size: 1.5rem;" >5 Benifit of PHP in web Development</h3>
            <img class="card-img-top" style="height: 15rem;" src="../../assets/image/php.jpg" alt="Card image cap"><hr>
            <div class="card-body">
              <div class="d-flex" style="text-align: justify;">
                <p><i class="fa-solid fa-user"></i> pavan kalyan</p>
                <p style="margin-left:auto;"><i class="fa-solid fa-calendar-days"></i> 2023-02-06</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6" >
          <div class="card" style="width: 24rem; height: 24rem;">
            <h3 class=" mx-auto mt-2 text-center " style="font-size: 1.5rem;" >Cyberspace Safety:Initiatives By India</h3>
            <img class="card-img-top" style="height: 15rem;"  src="../../assets/image/safecyber.jpg" alt="Card image cap"><hr>
            <div class="card-body">
              <div class="d-flex" style="text-align: justify;">
                <p><i class="fa-solid fa-user"></i> pavan kalyan</p>
                <p style="margin-left:auto;"><i class="fa-solid fa-calendar-days"></i> 2023-02-06</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</section>