/* section{
    background-color: white;
    padding: 30px 0;
/* } */
/* .banner_wrapper{
    padding: 30px 0;
}  */
.banner_wrapperr{
    padding-bottom: 70px;
}
.main-btn{
    display: inline-block;
    width: 150px;
    background-color: #5785ae;
    color: white;
    letter-spacing: 1px;
    border: 1px solid;
    background-size: 200% 100%;
    font-weight: 500;
    font-weight: 14px;
}
.main-btn:hover{
    background-color: black;
}
.contain_text{
    font-size: 40px;
    font-weight: 700;
  line-height: 80px;
}
h1 span{
    color: #5785ae;
}

.new_details{
    background: white;
    margin-top: 50px;
    border-radius: 20px;
    box-sizing: border-box;
}
.arrow_img{
    width: 49px;
}
.image{
    max-width: 100%;
}

.pr_img{
    width:100%
}
/* .arrow_img{
    width: 49px;
} */
/* .pr_img{
    width:100%
} */
.img_sec{
    width: 189px;
}
.txt_header4{
    font-weight: 700;
    font-size: 35px;
}
.ei-new-wy-t h1{
    font-size: 35px;
    font-weight: 700;
    line-height: 52px;
}
.ei-new-wy-t p{
    font-size: 18px;
    font-weight: 500;
   
}
.ei-wn-box{
    height: 200px;
    padding: 1.5rem;
    padding-top: 31px;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-sizing: border-box;
}
.ei-wn-bo{
    height: 200px;
    padding: 1.5rem;
    padding-top: 31px;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-sizing: border-box;
 margin-top: 120px;
}
.text_header h1{
    font-size: 35px;
    font-weight: 500;
}
.text_header p{
    font-size: 20px;
    margin-top: 3rem;
    color: #5785ae;
}
.text_row{
    margin-top: 5rem;
}
.text_row h1{
    font-size: 2rem;
    font-weight: 450;
}
.text_row p{
    line-height: 2rem;
    font-size: 1rem;
    color: #5785ae;
}
.main-buttn{
    display: inline-block;
    width: 150px;
    background-color: #5785ae;
    color: white;
    letter-spacing: 1px;
    border: 1px solid;
    background-size: 200% 100%;
    font-weight: 500;
    font-weight: 14px;
}
.main-buttn:hover{
    background-color: black;
}
/* .text_card{
    border: 1px solid black;
   height: 250px;
   padding: 1.5rem;
   width: 100%;
   box-sizing: border-box;
} */
.card_text:hover{
    transform: scale(1.15); 
}
.allbrand {
    padding-bottom: 7rem;
  }
  .brandImg {
    margin-top: 4rem;
  }
  
  .card_button{
      width: 3.7rem;
      height: 3.8rem;
      /* background-color: #5785ae; */
      background-color: #004684 
  }
  .details{
      margin-top: 5rem;
  }
  .line>p{
      margin-top: 2.4rem;
      line-height: 1.7rem;
      color: #5785ae;
  }
  
  .card_buttons{
      width: 3.7rem;
      height: 3.8rem;
      /* background-color: #5785ae; */
      background-color: #004684 
  }
  .card_buttons:hover{
      background-color: black;
  }