<app-navbar></app-navbar>
  <div class="container mt-3">
    <h1 class="heading">All Employee</h1> <hr>
    <table class="table table-bordered">
        <thead>
           
          <tr>
            <th scope="col" >SNO</th>
            
            <th scope="col" >firstName</th>
            <th scope="col">lastName</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
            <th scope="col">address</th>
            <th scope="col">location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employee;let i=index">
            <td>{{i+1}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.address}}</td>
            <td>{{employee.location}}</td>
          </tr>
        </tbody>
      </table>
  </div>

