
<app-homebody></app-homebody>
<div class="section footer_top" style="background-color: #f4f5f7 " >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <footer class="text-center text-lg-start">
          <section class="text-center text-lg-start">
            <div class="container text-center text-md-start">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Content -->
                  <h5 class="fw-bold">Company</h5>
                  <ul class="mb-2">
                    <li>Home</li>
                    <li>About us</li>
                    <li>Services</li>
                    <li>cognizence</li>
                    <li>Contact Us</li>
                  </ul>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h5 class="fw-bold">Services</h5>
                  <ul class="mb-2">
                    <li>Cloud Solutions</li>
                    <li>UI/UX Design</li>
                    <li>SaaS Development</li>
                    <li>DevOps Service</li>
                    <li>PHP Web Development</li>
                  </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h5 class="fw-bold">More Service</h5>
                  <ul class="mb-2">
                    <li>Mobile App Development</li>
                    <li>iOS App Development</li>
                    <li>Android App Development</li>
                    <li>Web Design</li>
                    <li>Content Writing</li>
                  </ul>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">
                  <!-- Links -->
                  <h5 class="fw-bold">Help Center</h5>
                  <ul class="mb-2">
                    <li>Email Us</li>
                    <li>Clients</li>
                    <li>Message Us</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </footer>
      </div>
    </div>
  </div>
</div>

<div class="section" style="background-color: #f4f5f7">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <footer class="text-center text-lg-start">
          <section class="text-center text-lg-start">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-6">
                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 col-xl-5 mx-auto">
                  <!-- Left -->
                  <div class="me-5 d-none d-lg-block mt-4">
                    <span class="footer_end"
                      >Copyright © 2017 Eminence Innovation. All Rights
                      Reserved</span
                    >
                  </div>
                </div>

                <div class="col-md-6 col-lg-5 col-xl-5 mx-auto">
                  <!-- Links -->
                  <section
                    class="d-flex justify-content-center justify-content-lg-between p-4 float-end"
                  >
                    <div class="footer_logo">
                      <a href="" class="me-4 text-reset">
                        <img
                          class="footer_image"
                          src="../../assets/image/facebook.png"
                          target="blank"
                        />
                      </a>
                      <a href="" class="me-4 text-reset">
                        <img
                          class="footer_image"
                          src="../../assets/image/insta.png"
                          target="blank"
                        />
                      </a>
                      <a href="" class="me-4 text-reset">
                        <img
                          class="footer_image"
                          src="../../assets/image/linkedin.png"
                          target="blank"
                        />
                      </a>
                      <a href="" class="me-4 text-reset">
                        <img
                          class="footer_image"
                          src="../../assets/image/twitter.png"
                          target="blank"
                        />
                      </a>
                      <a href="" class="me-4 text-reset">
                        <img
                          class="footer_image"
                          src="../../assets/image/pintrest.png"
                          target="blank"
                        />
                      </a>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </section>
        </footer>
      </div>
    </div>
  </div>
</div>
